.nav{
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
    background-color: burlywood;
    color: aliceblue;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}