.searchContainer{
    margin: 20px auto;
    width: 300px;
    position: relative;
}
.searchBox{
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 20px;
    width: 100%;
    outline: none;
    font-size: 25px;
    color: white;
    background-color: #eedbc3;
}